header {
  @include outer-container;
}

.social {
  @include span-columns(4);
  padding-top: $large-spacing;
  font-size: $small-font-size;
  letter-spacing: 0.25em;
}

.logo-wrapper {
  @include span-columns(4);
  text-align: center;

  img {
    width: 220px;
    height: auto;
  }

  @include media($medium-screen-size) {
    @include span-columns(12);
    text-align: center;
  }
}

nav {
  @include span-columns(4);
  padding-top: $large-spacing;

  ul {
    text-align: right;
    font-size: $small-font-size;
    letter-spacing: 0.25em;

    li {
      display: inline-block;
      margin-left: $base-spacing;

      a {
        color: $navy;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
        &:focus, &:active {
          color: $aqua-shade;
        }
      }

      a.active {
        font-weight: $semibold-font-weight;
      }
    }
  }
}

#community-guidelines-page {
  .community-guidelines-active {
    font-weight: $semibold-font-weight;
    letter-spacing: 0.2em;
  }
}

.wrapper:after, footer {
  height: 140px;
}

footer {
  margin-top: $large-spacing;
  padding: $large-spacing;
  text-align: center;
  text-transform: uppercase;
  background-color: $navy;
  color: #fff;
  font-size: $small-font-size;
  letter-spacing: 0.25em;
}
