@import
  "reset",
  "bourbon/bourbon",
  "neat/neat",
  "fonts",
  "variables",
  "typography",
  "layout"
;

//
// Layout
//
html, body {
  height: 100%;
}

.wrapper {
  // for sticky footer
  min-height: 100%;
  margin-bottom: -140px;
  &:after {
    content: "";
    display: block;
  }
}

.main {
  @include outer-container;
  // margin-bottom: $large-spacing;

  @include media($medium-screen-size) {
    padding: 0 $base-spacing;
  }
}

#community-guidelines {
  h2 {
    text-align: center;
    margin: $base-spacing 0;
  }
  h4 {
    margin-bottom: $small-spacing;
  }
  p {
    margin-bottom: $base-spacing;
  }

  .goal {
    @include span-columns(4);

    @include media($medium-screen-size) {
      @include span-columns(12);
      text-align: center;
    }
  }

  .guide {
    @include span-columns(8);

    @include media($medium-screen-size) {
      @include span-columns(10);
      @include shift(1);
      margin-top: $base-spacing;
    }
  }
}

#home {
  h2 {
    text-align: center;
    margin: $base-spacing 0;
  }

  .intro {
    text-align: center;

    img {
      margin-bottom: $large-spacing;
      width: 75px;
      height: auto;
    }

    h4 {
      margin-bottom: $base-spacing;
    }
  }

  form {
    text-align: center;
    padding: $base-spacing 0;

    .field {
      margin-right: $base-spacing;
      min-width: 350px;
    }

    p {
      margin: $large-spacing 0;
      font-size: $small-font-size;
      letter-spacing: 0.25em;
    }
  }
}

//
// Components
//

// Links
a {
  color: $aqua-shade;
  text-decoration: none;

  &:hover {
    color: $aqua;
    text-decoration: underline;
  }

  &:active, &:focus {
    color: $rose;
    text-decoration: underline;
  }
}

// Inputs
#{$all-text-inputs} {
  border: 2px solid $aqua;
  padding: $small-spacing;
  font-size: 0.875em;
  letter-spacing: 0.05em;
  font-family: $base-font-family;
}

#{$all-text-inputs-focus},
#{$all-text-inputs-hover} {
  border-color: $aqua-shade;
}

#{$all-text-inputs-active} {
  border: 2px solid $aqua;
}

#{$all-text-inputs}:-webkit-autofill {
  background-color: #fff;
}

input[type="submit"] {
  border: 2px solid $aqua;
  background-color: #fff;
  padding: $small-spacing $large-spacing;
  font-size: 0.875em;
  letter-spacing: 0.05em;
  font-family: $base-font-family;
}

input[type="submit"]:focus, input[type="submit"]:hover {
  border-color: $aqua-shade;
  cursor: pointer;
}

@include placeholder {
  color: $navy;
}
