@import
  "reset",
  "bourbon/bourbon",
  "neat/neat",
  "fonts"
;

//
// Variables
//

// Colors
$navy: #2E3192;
$aqua: #2dffff;
$aqua-shade: #5DB8BC;
$rose: #ea267a;
$rose-shade: #C51663;

// font weights
$black-font-weight: 900;
$bold-font-weight: 700;
$semibold-font-weight: 600;
$medium-font-weight: 500;
$regular-font-weight: 400;
$light-font-weight: 300;

// Spacing
$base-spacing: 1em;
$large-spacing: 2.5*$base-spacing;
$small-spacing: 0.5*$base-spacing;

//
// Typography
//
html {
  font-family: 'moristonpersonal', Helvetica, sans-serif;
  font-weight: $light-font-weight;
  color: $navy;
}

h2 { font-size: 3.625em; }
h3 {
  font-size: 1.25em;
  line-height: 2.25em;
  letter-spacing: 0.15em;
}
h4 {
  font-size: 0.875em;
  line-height: 2.25em;
  letter-spacing: 0.05em;
  font-weight: $semibold-font-weight;
}
p {
  font-size: 0.875em;
  line-height: 2.25em;
  letter-spacing: 0.05em;
}

// font sizes
$small-font-size: 0.8em;

//
// Layout
//
.main {
  @include outer-container;
  margin-bottom: $large-spacing;
}

header {
  @include outer-container;
}

.logo-wrapper {
  @include span-columns(4);
  @include shift(4);
  text-align: center;
}

nav {
  @include span-columns(4);
  padding-top: $large-spacing;

  ul {
    text-align: right;
    font-size: $small-font-size;
    letter-spacing: 0.25em;

    li {
      display: inline-block;
      margin-left: $base-spacing;

      a.active {
        font-weight: $semibold-font-weight;
      }
    }
  }
}

footer {
  margin-top: $large-spacing;
  padding: $large-spacing;
  text-align: center;
  text-transform: uppercase;
  background-color: $navy;
  color: #fff;
  font-size: $small-font-size;
  letter-spacing: 0.25em;
}

#community-guidelines {
  h2 {
    text-align: center;
    margin: $base-spacing 0;
  }
  h4 {
    margin-bottom: $small-spacing;
  }
  p {
    margin-bottom: $base-spacing;
  }

  .goal {
    @include span-columns(4);
  }

  .guide {
    @include span-columns(8);
  }
}
