footer
  p &copy; 2016 Chicago Web Friends
  p Brought to you by #[a(href="http://beckyrother.com/") becky] and #[a(href="http://sava.nnah.rocks/") savannah]
  p design by #[a(href="http://beckyrother.com/") becky] AND development by #[a(href="http://vwampage.com/") david] and #[a(href="http://sava.nnah.rocks/") savannah]
