header
  .social
    image(src="images/ic-share.png") share
  .logo-wrapper
    a(href='/')
      image(src="images/cwf-logotype.svg")
  nav
    ul
      li
        a(class='community-guidelines-active' href='/community-guidelines') community guidelines
      li 
        a(href='/store') store
      li 
        a(href='/irl') irl
