doctype html
html
  include includes/head.jade
  body#community-guidelines
    include includes/header.jade
    .main
      h2 #{title}
      .goal
        h3 The goal of Chicago Webfriends is to provide an open place for Chicagoans to share web development knowledge, offer and ask for help, and make friends.
      .guide
        h4 Anyone can join! By joining, you are agreeing to uphold our community guidelines:
        br
        
        h4 Be respectful, welcoming & inclusive
        p Don't be a jerk! If you've offended someone, even unintentionally, offer a sincere apology.
        
        h4 Empathize with others
        p We all had to start learning somewhere. Remember what it was like to be new, and be patient with those learning.
        
        h4 This is a public space
        p Anyone can join this slack at any time, so don't say anything that you wouldn't say to someone's face, post on Twitter, or regret when you eventually run for President.
        
        h4 Don't spam with @
        p Both @channel and @here are available for any member to use, but @here is preferred (it only alerts members that are active in the channel at that time). If you wish to opt out of notifications, you can turn them off in a channel's notification settings. Please don't abuse this rule by overusing this feature!
        
        h4 Say hi to new folks
        p If you're around when a new person joins, say hi! Encourage new folks to introduce themselves in the #intro channel, and don't forget to intro yourself there, too.
        
        h4 Keep it sfw
        p This slack is most active during the work day. Respect your community members by not posting inappropriate text, pictures or gifs. (If you have to ask, err on the side of not posting the thing.) 

        h4 Harassment
        p Harassment of any kind will not be tolerated. Violators will be asked to cease their behavior or ejected from the Slack at the discretion of the administrators.

        h4 Feedback
        p We welcome feedback on our guidelines from the community. If you have suggestions, participate in discussing them in the #guidelines channel. Or if you'd like, you can direct message the admins, @savannah and @becky.

        h4 Problems?
        p If you are experiencing problems in the slack or at Friends IRL events, please contact @savannah or @becky to address them. We want Chicago Web Friends to be a community that you're happy to be a part of, and will do our best to make sure that's the case!
  include includes/footer.jade
  script.
    var currentUrl = '/community-guidelines';
