doctype html
html
  head
    title #{community} on Slack
    meta(name='viewport', content='width=device-width, initial-scale=1',)
    link(rel='icon', type='image/png', size= href='assets/img-logo_sm.png')
    style.
      html {
        box-sizing: border-box;
      }
      *, *:before, *:after {
        box-sizing: inherit;
      }

      @font-face {
        font-family: 'moriston_personallight';
        src: url('assets/fonts/moristonpersonal-light-webfont.eot');
          url('assets/fonts/moristonpersonal-light-webfont.woff') format('woff'),
          url('assets/fonts/moristonpersonal-light-webfont.ttf') format('truetype'),
          url('assets/fonts/moristonpersonal-light-webfont.svg#moriston_personallight') format('svg');
        font-weight: 300;
        font-style: normal;
      }

      @font-face {
        font-family: 'moriston_personalsemibold';
        src: url('assets/fonts/moristonpersonal-semibold-webfont.eot');
          url('assets/fonts/moristonpersonal-semibold-webfont.woff') format('woff'),
          url('assets/fonts/moristonpersonal-semibold-webfont.ttf') format('truetype'),
          url('assets/fonts/moristonpersonal-semibold-webfont.svg#moriston_personallight') format('svg');
        font-weight: 700;
        font-style: normal;
      }

      body {
        font-family: 'moriston_personallight';
        font-size: 16px;
        color: #2f3590;
      }

      .content {
        width: 600px;
        margin: 0 auto;
        text-align: center;
      }

      .join {
        border: solid 1px #2f3590;
        padding: 10px 30px 30px 30px;
        background-color: #EBECEA;
      }

      .join-title {
        font-family: 'moriston_personalsemibold'
        font-weight: 700;
        font-size: 24px;
      }

      .label {
        text-align: left;
        font-size: 14px;
        text-transform: uppercase;
      }

      input {
        font-size: 16px;
        width: 100%;
        padding: 5px;
        font-family: monospace;
        margin-top: 10px;
        background: #fff;
      }

      .thanks {
        width: 100%;
        padding-top: 20px;
        margin-top: 30px;
        border-top: 1px solid #ea267a;
      }

      button {
        padding: 7px;
        font-family: 'moriston_personallight';
        letter-spacing: 2px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 20px;
        background: none;
        border-radius: 0px;
        border: 2px solid #2dffff;
        cursor: pointer;
      }

      button:hover {
        background: #2dffff;
      }

      .logo {
        height: 51px;
        margin-top: 30px;
        border: none;
      }

      .message {
        display: block;
        padding: 5px;
      }

      small {
        font-size: 12px;
      }

      @media (max-width: 600px) {
        .content {
          width: 100%;
        }
      }
  body
    .content
      img(src='assets/img-logo_sm.png' class='logo')
      p #{community}
      p a friendly chicago slack forum for exchanging web knowledge
      .join
        p(class='join-title') join us

        form#join-form
          .label
            label your email:
          input(type="text", name="email", placeholder="email@email.com")#slack-email
          button invite me!
        p(class="message")
      p there is only one rule: don't be a jerk
      a(href='https://twitter.com/savannahmillion') questions? support? @ me.
      .thanks
        small thanks to #[a(href='https://github.com/outsideris/slack-invite-automation') outsideris] for the framework for this page!
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script.
      var form = document.getElementById('join-form');
      var email = document.getElementById('slack-email')
      form.addEventListener('submit', function(evt) {

        //prevent default reload behavior
        evt.preventDefault();

        $.ajax({
          url : 'http://localhost:3000/invite',
          data: JSON.stringify({
            email: email.value
          }),
          dataType: "json",
          contentType: 'application/json',
          type : 'POST',
          success : function(output){
            console.log(output.responseText);
            $(".message").html(output.responseText);
            $(".message").css("background-color", "#D1EAF7");
          },
          error: function(output){
            console.log(output.responseText);
            $(".message").html(output.responseText);
            $(".message").css("background-color", "#D1EAF7");
          }
        });
        //*/
      });
